<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs'); %>
</head>
<body>
  <%- include('partials/navbar.ejs'); %>
  <div>
    <h1> Finding auth code: </h1>
    <div> <%= typeof auth_key != 'undefined' ? auth_key : 'default'; %> </div>
  </div>
  <%- include('partials/footer.ejs'); %>
</body>
</html>
